certifi==2022.12.7
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.6.3
munkres==1.1.4
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pip==22.2.2
ply==3.11
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
python-dateutil==2.8.2
pytz==2022.7.1
setuptools==65.5.0
sip==6.7.7
six==1.16.0
toml==0.10.2
tornado==6.2
wheel==0.37.1
wincertstore==0.2
